.Contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(77, 80, 253);
    padding: 25px;
    border-radius: 25px;
    
}
.nome{
    padding-right: 120px;
    border-radius: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-style: none;
    margin-top: 10px;
    box-shadow: 0px 0px 13px 4px rgba(0,0,0,0.1);
}

.email{
    padding-right: 120px;
    border-radius: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-style: none;
    margin-top: 10px;
}
.mensagem{
    padding-right: 120px;
    border-radius: 10px;
    padding-top: 3px;
    padding-bottom: 200px;
    border-style: none;
    margin-top: 10px;

}
.enviar{
    border-radius: 10px;
    border-style: none;
    margin-top: 10px;
    transition: all 1s;
} 
.enviar:hover{
    background-color: rgb(75, 106, 245);
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    color: white;
}
.telefone{
    padding-right: 120px;
    border-radius: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-style: none;
    margin-top: 10px;
}
