.fundo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    padding: 10vh;
}
.fotinha{
    height: 80vh;
}
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: gray;
    padding: 10vh;
}
.box{
    border: 2px solid black;
    margin-top: 2vh;
    height: 5vh;
    width: 40vw;
}
.box-msg{
    border: 2px solid black;
    margin-top: 2vh;
    height: 20vh;
    width: 40vw;

}
.box-msg:focus{
    background-color: beige;
    border-style: none;
}
.box:focus{
    background-color: beige;
    border-style: none;
}
.enviar{
    border: 1px solid black;
    background-color: beige;
    margin-top: 2vh;
    height: 5vh;
    width: 10vw;
} 
.enviar:hover{
    background-color: black;
    color: white;
    transition: 1s;
}
label{
    margin-top: 2vh;
    margin-bottom: 0;
}
input:focus{
    border: none;
}   